.search-output {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 22px;
}

.search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
}

.search-result:hover {
    cursor: pointer;
    transform: scale(1.009);
    transition: 0.3s ease-in;
    outline: darkblue;
}

.search-result img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.search-result h3 {
  margin-bottom: 5px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #333333;
}

.search-result b {
  font-weight: bold;
  color: #555555;
}


.search-result p {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #777777;
  /* line-height: normal; */
  font-weight: 500;
}

@media screen and (min-width: 800px){
   .search-result:hover {
    max-width: 290px;
   }
}

